.star {
    position: relative;
    top: 70px;
    left: 610px;
    color: yellow;
    z-index: 1;
    font-size: 100px;
    display: none;
}


/* @media only screen and (max-width:500px){

    .container{
        border-radius: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
} */
