.bp0 {
    fill: #FFFFFF;
    stroke: #000000;
    stroke-miterlimit: 10;
}

.bp1 {
    fill: #FFF200;
    stroke: #000000;
    stroke-miterlimit: 10;
}

.bp2 {
    fill: #F7941D;
    stroke: #000000;
    stroke-miterlimit: 10;
}