#navPic {
    height: 400px;
}
#messageFormPic {
    height: 300px;
}
#serviceFunctionPic {
    height: 300px;
}
#formMessagePic {
    height: 450px;
}
#serverMiddlewarePic {
    height: 400px;
}
#servicePic {
    height: 500px;
}
#ngNewPic {
    height:150px;
}

#appModulePic {
    height: 400px;
}

#routesPic {
    height: 400px;
}

.angular-pic {
    width: 40%;
}

.title {
    text-align: center; 
    color: #6c757d;
}

.img-scroll {
    overflow-x: scroll;
    overflow-y: scroll;
    height: 200px;
}

.img-scroll::-webkit-scrollbar {
    display: none;
}

.img-scroll {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.comp-color {
    color:blue;
}

@media only screen and (max-width:500px){
    .angular-pic {
        width: 100%
    }
    #ngNewPic {
        height:80px;
    }
}