.angular-pic {
    width: 40%;
}

.title {
    text-align: center; 
    color: #6c757d;
}

.img-scroll {
    overflow-x: scroll;
}

.img-scroll::-webkit-scrollbar {
    display: none;
}

.img-scroll {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.comp-color {
    color:blue;
}

@media only screen and (max-width:500px){
    .angular-pic {
        width: 100%
    }
}