
.distort-bottom {
    display: none;
}

.what-i-do-content {
    color: white;
    height: 20rem;
}

.interest {
    color: white;
}

.port-div-show {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
  }

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

.grow:hover .blob {
    transform: scale(1);
    animation: pulse-black 2s infinite;
    opacity: 1;
}
.grow:hover #click-me {
    opacity: 1;
}


#preset-revolver {
    animation-fill-mode: forwards;
}

.revolver-div {
    margin-left: 395px;
}

#none {
    display: none;
}

.stars-drop {
    animation: drop 3s infinite;
}



@media only screen and (max-width:800px) {
    .ss {
        margin-bottom: 1rem;
    }
    .revolver-div {
        margin-left: 190px;
    }
    @keyframes bullet-glide {
        100% {
            margin-left: 300px;
        }
    }
}

@media only screen and (max-width:500px) {
    .distort-bottom {
        display: block;
        margin-bottom: 20px;
    }
    .revolver-parent {
        display: none;
    }
    .ss {
        margin-bottom: 1rem;
    }
    .revolver-div {
        margin-left: 15px;
    }
    .distortTop {
        margin-left: .02px;
    }
    @keyframes bullet-glide {
        100% {
            margin-left: 300px;
        }
    }
}


@keyframes drop {
    .5% {
        transform: translate(0px, 0px);
    }
    100% {
        transform: translate(0px, 700px);
        opacity: .1;
    }
}