#intro-article {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#portfolio-image {
    margin-top: 2rem;
    background-color: grey;
    border: .5rem solid #F5F3FA;
    width: 90px;
    height: 90px;
    
}

#space-svg-parent {
    margin-top: -2px;
    margin-left: 12px;
}

.intro-section-summary {
    color: white;
    text-align: left;
    padding-top: 3rem;
}

#intro-section-summary-paragraph {
    padding-right: 8rem;
}

.intro-section-summary-icons {
    text-align: left;
    padding-left: 6rem;
}

.flame {
    animation: flame-color .1s infinite;
}

#full-stack {
    transition: all .2s ease-in-out;
}


@media only screen and (max-width:1200px) {}

@media only screen and (max-width:990px) {

}

@media only screen and (max-width:775px) {
    /* #intro-article {
        padding-top: 2rem;
    } */
    #portfolio-image {
        margin-top: 1rem;
        width: 15rem;
        height: 15rem;
    }
    .intro-section-summary {
        text-align: center;
        padding-top: 5rem;
    }
    #intro-section-summary-paragraph {
        padding-right: 0rem;
    }
    .intro-section-summary-icons {
        text-align: center;
        padding-left: 0;
    }
}

@media only screen and (max-width:575px) {
    .intro-section-summary {
        text-align: center;
        padding-top: 0rem;
    }
    #intro-article {
        padding-top: 0rem;
    }
    #portfolio-image {
        margin-top: 1rem;
        /* margin-right: 1px; */
        width: 7rem;
        height: 7rem;
    }
    .intro-section-summary-icons {
        text-align: center;
        padding-left: 0;
    }
    #full-stack{
        animation: font-color 5s forwards;
    }
}
@media only screen and (max-width:340px) {
 
    #portfolio-image {
        margin-left: 29px;
    }
    
}




@keyframes flame-color {
    from {
        fill: red;
    }
    to {
        height: yellow;
    }
}
@keyframes font-color {
    from {
        color: red;
    }
    to {
        color: grey;
    }
}