.st0 {
    fill: #999999;
}

.st1 {
    fill: #FFFFFF;
}

.st2 {
    fill: #CCCCCC;
}

.st3 {
    fill: #FCEE21;
}

.st4 {
    fill: #FF0000;
}

.st5 {
    fill: #FFFF00;
}

.st6 {
    fill: none;
}

.st7 {
    font-family: 'MyriadPro-Regular';
}

.st8 {
    font-size: 24px;
}

#removeBullet{
    display: none;
}
