.st0 {
    fill: #999999;
}

.st1 {
    fill: #FFFFFF;
}

.st2 {
    fill: #CCCCCC;
}

.st3 {
    fill: #FCEE21;
}

.st4 {
    fill: #FF0000;
}

.st5 {
    fill: #FFFF00;
}

.st6 {
    fill: none;
}

.st7 {
    font-family: 'MyriadPro-Regular';
}

.st8 {
    font-size: 24px;
}

#removeBullet{
    display: none;
}

#revolver {
    pointer-events: none;
    animation-name: revolver-spin;
    animation-duration: 5s;
    transform-origin: center center;
    animation-fill-mode: forwards;
}
#revolver1 {
    pointer-events: none;
    animation-name: revolver-spin1;
    animation-duration: 5s;
    transform-origin: center center;
    animation-fill-mode: forwards;
}
#revolver2 {
    pointer-events: none;
    animation-name: revolver-spin2;
    animation-duration: 5s;
    transform-origin: center center;
    animation-fill-mode: forwards;
}
#revolver3 {
    pointer-events: none;
    animation-name: revolver-spin3;
    animation-duration: 5s;
    transform-origin: center center;
    animation-fill-mode: forwards;
}
#revolver4 {
    pointer-events: none;
    animation-name: revolver-spin4;
    animation-duration: 5s;
    transform-origin: center center;
    animation-fill-mode: forwards;
}
#revolver5 {
    pointer-events: none;
    animation-name: revolver-spin5;
    animation-duration: 5s;
    transform-origin: center center;
    animation-fill-mode: forwards;
}

@keyframes revolver-spin {
    100% {
        transform: rotate(6000deg)
    }
}
@keyframes revolver-spin1 {
    100% {
        transform: rotate(7000deg)
    }
}
@keyframes revolver-spin2 {
    100% {
        transform: rotate(8000deg)
    }
}
@keyframes revolver-spin3 {
    100% {
        transform: rotate(9000deg)
    }
}
@keyframes revolver-spin4 {
    100% {
        transform: rotate(10000deg)
    }
}
@keyframes revolver-spin5 {
    100% {
        transform: rotate(11000deg)
    }
}
