.nav-item {
    margin-right: 3rem;
}

.navbar-brand {
    margin: 0rem;
}

.nav-bar{
    background-color: black;
}

a:hover{
    text-decoration: none;
}
#logo{
    margin-left: 50px;
}
@media only screen and (max-width:500px){
    #logo{
        margin-left: 0px;
    }
}
